@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/iconsfont/icons.eot?ld1ysd");
  src: url("../fonts/iconsfont/icons.eot?ld1ysd#iefix") format("embedded-opentype"), url("../fonts/iconsfont/icons.ttf?ld1ysd") format("truetype"), url("../fonts/iconsfont/icons.woff?ld1ysd") format("woff"), url("../fonts/iconsfont/icons.svg?ld1ysd#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-Frame:before {
  content: "\e901";
  color: #fff;
}

._icon-Frame1:before {
  content: "\e902";
  color: #fff;
}

._icon-Frame2:before {
  content: "\e903";
  color: #fff;
}

._icon-Frame3:before {
  content: "\e904";
  color: #fff;
}

._icon-Twitter:before {
  content: "\e905";
  color: #fff;
}

._icon-Facebook:hover,
._icon-Frame:hover,
._icon-Twitter:hover {
  transform: scale(1.2);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-weight: 700;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 71.25em) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 10px;
  }
}
.subtitle {
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 111.111%;
}

.title {
  font-size: 4rem;
  line-height: 117.188%;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.text {
  font-weight: 400;
  line-height: 125%;
}

.button {
  font-size: 1rem;
  line-height: 125%;
  text-transform: uppercase;
  padding: 1.25rem;
  border-radius: 40px;
  background: #e11b19;
  transition: all 0.5s ease 0s;
}
.button span::before {
  content: "";
  background: url("/img/block1/bx_chevron-right (1).svg") 10px 0 no-repeat;
  padding: 0px 0px 0 30px;
}
.button:hover {
  background: #9b1816;
}

.subtitle-trainning {
  font-size: 1rem;
  line-height: 125%;
  text-transform: uppercase;
}

.title-trainning {
  font-size: 2.25rem;
  line-height: 111.111%;
  text-transform: uppercase;
}

.header__container {
  position: relative;
}
.header__logo {
  position: absolute;
  padding: 30px 0px;
}

.footer {
  background-color: #14171a;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
}
.footer__logo {
  transition: all 0.5s ease 0s;
}
.footer__logo:hover {
  transform: scale(1.1);
}
.footer__icons {
  display: flex;
  font-size: 1.875rem;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.page {
  flex: 1 1 auto;
}

.banner {
  height: 100vh;
  background: radial-gradient(838.19% 378.3% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%), url("../img/block1/block1.png") center 0/cover no-repeat;
}
.content-banner {
  max-width: 46.625rem;
  padding: 30vh 0 0 0;
}
@media (max-width: 26.875em) {
  .content-banner {
    padding: 20vh 0 0 0;
  }
}
.content-banner__subtitle {
  margin-bottom: 0.3125rem;
}
.content-banner__subtitle:last-child {
  margin-bottom: 0;
}
.content-banner__title:last-child {
  margin-bottom: 0;
}
@media (max-width: 37.5em) {
  .content-banner__title {
    font-size: 3rem;
  }
}
.content-banner__text {
  margin-bottom: 1.875rem;
}
.content-banner__text:last-child {
  margin-bottom: 0;
}
@media (max-width: 29.99875em) {
  .content-banner__button {
    width: 100%;
  }
}

.members {
  background-color: #191c1f;
  padding: 3.75rem 0px;
}
@media (max-width: 47.99875em) {
  .members {
    padding: 3.125rem 0;
  }
}
.members__container {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .members__container {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-around;
  }
}
@media (max-width: 29.99875em) {
  .members__container {
    flex-direction: column;
    align-items: center;
  }
}
.members__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 111.111%;
  text-transform: uppercase;
}
.members__text2 {
  font-size: 1.5rem;
  line-height: 125%;
}

.trainning {
  background-color: #1f2327;
  padding: 5rem 0;
}
@media (max-width: 47.99875em) {
  .trainning {
    padding: 3.125rem 0;
  }
}
.trainning__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 47.99875em) {
  .trainning__container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.trainning__image {
  flex: 0 1 50%;
}
.trainning__image img {
  width: 100%;
  height: 100%;
}
.content-trainning {
  flex: 0 1 50%;
  max-width: 445px;
}
@media (max-width: 47.99875em) {
  .content-trainning {
    align-self: center;
  }
}
.content-trainning__subtitle {
  margin-bottom: 0.3125rem;
}
.content-trainning__subtitle:last-child {
  margin-bottom: 0;
}
.content-trainning__title {
  margin-bottom: 1.5625rem;
}
.content-trainning__title:last-child {
  margin-bottom: 0;
}
.content-trainning__list {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 125%;
}
.content-trainning__list li:not(:last-child) {
  margin-bottom: 0.875rem;
}
.content-trainning__list li::before {
  content: "";
  background: url("../img/block3/Frame.svg") 0 0 no-repeat;
  padding: 0px 0px 0 39px;
}

.leader {
  background-color: #191c1f;
  padding: 5rem 0;
}
@media (max-width: 47.99875em) {
  .leader {
    padding: 3.125rem 0;
  }
}
.leader__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 47.99875em) {
  .leader__container {
    flex-direction: column;
    align-items: stretch;
  }
}
.leader__image {
  flex: 0 1 50%;
}
.leader__image img {
  width: 100%;
  height: 100%;
}

.content-leader {
  max-width: 445px;
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .content-leader {
    align-self: center;
  }
}
.content-leader__subtitle {
  margin-bottom: 0.3125rem;
}
.content-leader__subtitle:last-child {
  margin-bottom: 0;
}
.content-leader__title {
  margin-bottom: 0.625rem;
}
.content-leader__title:last-child {
  margin-bottom: 0;
}
.content-leader__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 138.889%;
}

.academy {
  padding: 5rem 0;
  background: radial-gradient(570.45% 265.28% at 47.92% 0%, #191c1f 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url("../img/block5/block5.png") center 0/cover no-repeat;
}
@media (max-width: 47.99875em) {
  .academy {
    padding: 3.125rem 0;
  }
}
.academy__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-academy {
  text-align: center;
  max-width: 746px;
}
.content-academy__subtitle {
  margin-bottom: 0.3125rem;
}
.content-academy__subtitle:last-child {
  margin-bottom: 0;
}
.content-academy__title {
  margin-bottom: 0.625rem;
}
.content-academy__title:last-child {
  margin-bottom: 0;
}
@media (max-width: 37.5em) {
  .content-academy__title {
    font-size: 3rem;
  }
}
.content-academy__text {
  margin-bottom: 1.875rem;
}
.content-academy__text:last-child {
  margin-bottom: 0;
}
@media (max-width: 29.99875em) {
  .content-academy__button {
    width: 100%;
  }
}